* {
    box-sizing: border-box;
}

body {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    border-color: white;
}

/* .container {
    margin: 0 auto;
    padding: 0px 15px;
} */
/* 
[class*=col] {
    padding-left: 15px;
    padding-right: 15px;
} */

/*titles*/
h1,
.title1 {
    font-family: Raleway;
    font-weight: 500;
    font-size: 48px;
}

h2,
.title2 {
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    line-height: 56px;
}

h3,
.title3 {
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
}

h4,
.title4 {
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

h5,
.title5 {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

h6,
.title6 {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
}

.dark {
    color: white;
    background-color: black;
}

/*bittons*/
.button {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: white;
    text-align: center;
    padding: 20px 0px;
    min-width: 18px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: solid;
}

.small-button {
    width: 270px;
}

.big-button {
    width: 370px;
}

.color-button {
    border: none;
    background-color: #EC7979;
}

.color-button:hover {
    background-color: #AB4949;
}

.color-button:active {
    background-color: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}

.clear-button {
    border-color: white;
    border-width: 2px;
}

.clear-button:hover {
    border-color: #EC7979;
    color: #EC7979;
}

.clear-button:active {
    background-color: #AB4949;
    color: white;
}

/*lines*/
.line {
    width: 170px;
    border: none;
    border-bottom: 1px solid #EC7979;
    margin: 0px auto;
}

.light-line {
    border-bottom: 1px solid #ffffff;
}

/*Headers*/
.block__header {
    display: block;
    padding-top: 107px;
    padding-bottom: 57px;
    text-align: center;
    text-transform: uppercase;
}

.block__text {
    display: block;
    text-align: center;
    margin-top: 40px;
}

/*MENU*/
.header {
    position: fixed;
    width: 100vw;
    background-color: rgba(0, 0, 0);
    z-index: 10;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    padding: auto 0px;
    width: 90px;
    margin-left: -30px;
}

.menu {
    display: flex;
}

.menu__item {
    display: flex;
    align-items: center;
}

.menu__link {
    display: block;
    text-decoration: none;
    font-family: Open Sans;
    font-weight: 600;
    line-height: 19px;
    font-size:  14px;
    color: white;
    cursor: pointer;
    padding: 28px 30px;
}

.menu__link:hover {
    background-color: #EC7979;
}

.menu__link:active {
    background-color:#AB4949;
}

.menu__mobil {
    display: none;
    font-size: 18px;
    border: none;
    background-color: #000;
    color: #fff;
}

/*MAIN BANNER*/
.main-banner {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../image/mainbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner__box {
    display: flex;
    padding: 283px 0px 185px 0px;
}

.banner__logo {
    width: 170px;
    margin-bottom: 73px;
}

.banner__logo:last-child {
    margin-bottom: 0;
}

.banner__title {
    margin-bottom: 55px;
}

.banner__title:last-child {
    margin-bottom: 0px;
}

.banner__line {
    margin-bottom: 42px;
    margin-left: 0px;
}

.banner__line:last-child {
    margin-bottom: 0px;
}

.banner__text {
    margin-bottom: 42px;
    line-height: 21px;
    width: 270px;
}

.banner__text:last-child {
    margin-bottom: 0px;
}


/* BANER_FORM */
.banner__form-box {
    flex-shrink: 0;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.form-box__header {
    display: block;
    color: #333333;
    font-family: Open Sans;
    font-weight:  700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    padding-top: 57px;
    padding-bottom: 57px;
}

.free {
    color: #EC7979;
    font-style: normal;
}

.banner__form {
    display: block;
    width: 100%;
}

.banner__form-item {
    padding: 0px 50px;
    margin-bottom: 33px;
}

.banner__form-input {
    border: none;
    border-bottom: solid #BDBDBD 1px;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
    width: 100%;
    padding-bottom: 19px;
}

.banner__form-input:focus {
    border-bottom: 1px solid #000;
    color: #000;
}

.password:focus {
    outline: none;
} 

.form__button {
    width: 100%;
    min-height: 15px;
    background-color: #EC7979;
    border-radius: 0px 0px 10px 10px;
    font-family: Open Sans;
    font-size: 15px;
    padding: 22px auto;
    margin-top: 45px;
    border: none;
    margin-bottom: 0px;
}

.form__button:hover {
    background-color: #AB4949;
}

.form__button:active {
    background-color: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}

/*MEDIA*/
.media {
    background-color: #F8EFEF;
}

.media__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.media__box1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.media__header {
    display: block;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-bottom: 18px;
}

.media__header:last-child {
    margin: auto;
}

.media__text {
    display: block;
    margin-bottom: 18px; 
}

.media__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media__item {
    padding: 34px 0 23px;
}

.media__item-link {
    text-decoration: none;
    font-size: 47px;
    color: #ccc;
}


/*TABS*/
.tabs {
    margin-top: 100px;
}

.tabs__list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.tabs__item {
    text-transform: uppercase;
    background: #FFFFFF cover;
    padding: 12px 99px;
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    line-height: 19px;
    cursor: pointer;
    margin-bottom: -1px;
    border-bottom: #BDBDBD solid 1px;
}

.tabs__item:active,
.tabs__item:focus {
    border: #BDBDBD solid 1px;
    border-bottom: #ffffff solid 1px;
    border-radius: 5px 5px 0px 0px;
    margin: -1px;
}

.tabs__box {
    display: flex;
    border: #BDBDBD solid 1px;
    justify-content: space-between;
    display: none;
}

[name=tabs] {
    display: none;
}

[name=tabs]:checked + .tabs__box {
    display: flex;
}

.tabs__text-box {
    margin-left: 100px;
    margin-right: 30px;
}


.tabs__header {
    padding-top: 42px;
    padding-bottom: 42px;
    margin-bottom: 27px;
}

.tabs__description {
    margin-bottom: 20px;
}

.tabs__description:last-child {
    margin-bottom: 0px;
}

.tabs__img {
    width: 100%;
}

/*ABOUT*/
.about__text {
    margin-bottom: 110px;
}

.about__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin: 0px -15px; */
}

.about__item {
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__icon {
    width: 92px;
    margin-bottom: 39px;
}

.about__icon:last-child {
    margin-bottom: 58px;
}

.about__title {
    display: block;
    padding-top: 38px;
    padding-bottom: 38px;
}

.about__title:last-child {
    margin-bottom: 58px;
}

.about__description {
    display: block;
    text-align: center;
    margin-bottom: 58px;
}

/*PRICE*/
.price {
    background-color: #F5F5F5;
}

.price__text {
    margin-bottom: 59px;
}

.prise__cards {
    margin: 0px -15px;
    padding: 2px;
}

.price__card {
    color: #FFFFFF;
    margin-bottom: 50px;
}

.price__name,
.price__cost,
.price__description, 
.price__item {
    display: block;
    background-color: #333333;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 13px;
}

.price__name {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 24px;
    line-height: 33px;
}

.price__cost {
    font-size: 36px;
    line-height: 43px;
    font-weight: 700;
    padding-top: 27px;
    padding-bottom: 27px;
}

.price__item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #86878B;
    background-color: #FFFFFF;
}

.price__card2 {
    box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
    transform: translateY(-20px);
}

/*REVIEWS*/
.reviews__text {
    margin-bottom: 83px;
}

.reviews__list {
    display: flex;
}

.reviews__quote-descr {
    background-color: #E2E2E2;
    color: #86878B;
    text-align: center;
    padding-top: 37px;
    padding-bottom: 37px;
    border-radius: 10px;
}

.reviews__quote-descr:last-child {
    margin-bottom: 46px;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 30px solid #E2E2E2;
    margin-left: 15%;
    margin-bottom: 46px;
    margin-top: -1px;
}

.reviewes__manager {
    display: flex;
    margin-bottom: 64px;
}

.reviews__manager-description {
    margin-left: 30px;
}

.reviews__manager-img {
    flex-shrink: 0;
    width: 70px;
    height: 70px;
}

.reviews__manager-name {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.reviews__manager-name:last-child {
    margin-bottom: 0px;
}

/*STYLISH*/
.stylish {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../image/stylishbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.stylish__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.stylish__text {
    margin-bottom: 73px;
}

/*CONTACT FORM*/

.contact__text {
    margin-bottom: 89px;
}

.contact__form {
    display: flex;
    flex-direction: column;
}

.contact__form-box {
    margin-bottom: 50px;
    min-height: 215px;
}

.contact__form-input,
.contact__textarea {
    border: none;
    border-bottom: 1px solid #BDBDBD;
    font-family: Open Sans;
    font-size: 14px;
    color: #BDBDBD;
    width: 100%;
    padding-bottom: 17px;
}

.contact__textarea {
    padding-bottom: 0;
    height: 100%;
}

.contact__form-input + input {
    margin-top: 50px;
}

.contact__textarea {
    resize: none;
}

.contact__form-input:focus,
.contact__textarea:focus {
    color: #000000;
    border-bottom: 1px solid #000;
}

.contact__form-button {
    margin: 0px auto 50px;
}

/*FOOTER*/
.footer {
    background-color: #000000;
    padding-top: 39px;
    padding-bottom: 27px;
}

.footer__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
    padding-left: 32%;
    padding-right: 32%;
}

.footer__list-item {
    text-decoration: none;
    font-size: 45px;
    color: #ccc;
}

.footer__discr {
    margin: 32px 0px 0px;
}