root{
    --main-color: red;
}


.conteiner {
    width: 500px;
    margin: 0 auto;
}

.link1 {
    text-decoration: none;
    font-size: 30px;
    color: red;
}

.link1:hover { /*при наведении элемент будет*/
    color: blue;
    cursor: default; /*изменяет курсор*/
}

link1:active { /*работает, когда кликнул*/
    color: greenyellow;
}

link1:focus { /*пользователь взаимодействовал с элементом*/
    color: yellow;
}

link1:visited{ /*посещенные ссылки*/
    color: aqua;
}

.box1 {
    background-color: red;
    height: 100px;
}

box1::first-letter { /*задает размер  1ой буквы*/
    font-size: 50px;
}

box1::selection {
    background-color: yellow;
}

.box2 {
    background-color: aqua;
    border-radius: 20px; 
}