:root {
    --main-color: rgb(184, 209, 242);
    --main-text-color: rgb(0, 0, 0);
    --button-color: rgb(0, 3, 175);
    --button-text-color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
}

body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: var(--main-text-color);
}

.cont {
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--main-color);
}

.container {
    padding: 20px;
}

.header__upper-box {
    display: flex;
}

.header__discription {
    width: 80%;
}

.header__title {
    display: block;
    margin-bottom: 15px;
    font-size: 24px;
}

.header__account-list {
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.header__account-link {

    text-decoration: none;
    color: var(--main-text-color);
}

.header__nav-link {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.header__nav-link {
    text-decoration: none;
    color: var(--main-text-color);
}

/* REG */
.reg {
    padding-top: 30px;
    padding-bottom: 30px;
}

.reg__form-box {
    margin: 20px 30%;
    border-radius: 10px;
    background-color: var(--main-color);
}

.reg__form-title {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 18px;
}

.reg__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reg__form-input {
    border: none;
    border-bottom: 1px solid var(--main-text-color);
    margin-bottom: 20px;
    background-color: var(--main-color);
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
}

.reg__form-input::placeholder {
    color: var(--main-text-color);
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.reg__form-input:hover,
.reg__form-input:active {
    background-color: var(--main-color);
    outline: none;
}

.reg__form-but {
    width: 100%;
    border-radius: 10px;
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: none;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 900;
    padding: 15px;
}

.footer {
    background-color: var(--main-color);
}

.footer__box {
    display: flex;
    flex-direction: column;
    align-items: center
}