* {
    box-sizing: border-box;
}

body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.header {
    background-color: rgb(89, 89, 89);
    color: rgb(255, 255, 255);
}

.container {
    padding: 20px;
}

.header__upper-box {
    display: flex;
}

.header__discription {
    width: 80%;
}

.header__title {
    display: block;
    margin-bottom: 15px;
    font-size: 24px;
}

.header__account-link {
    text-decoration: none;
    color: white;
}

.header__nav-link {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.header__nav-link {
    text-decoration: none;
    color: white;
}

/* REG */
.reg {
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.reg__form-box {
    margin: 20px 30%;
    border-radius: 10px;
    background-color: rgb(89, 89, 89);
}

.reg__form-title {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.reg__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reg__form-input {
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: 20px;
    background-color: rgb(89, 89, 89);
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
}

.reg__form-input::placeholder {
    color: white;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.reg__form-input:hover,
.reg__form-input:active {
    background-color: rgb(89, 89, 89);
    outline: none;
}

.reg__form-but {
    width: 100%;
    border-radius: 10px;
    background-color: rgb(4, 72, 197);
    color: white;
    border: none;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 900;
    padding: 15px;
}

.footer {
    background-color: rgb(89, 89, 89);
    color: white;
}

.footer__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}