* {
    box-sizing: border-box;
}

.container{
    margin: 100px;
    position: relative;
    background-color: white;
    z-index: 10;
    overflow: hidden;
}

/*SKY*/
.sky {
    position: relative;
    background-color: #8cbaf5;
    height: 500px;
    z-index: 1;
}

/*CLOUDS*/
.clouds {
    position: absolute;
    display: flex;
    height: 200px;
    width: 100%;
    justify-content: space-around;
    z-index: 4;
    margin-top: 10px;
}

[class*="circul"] {
    position: relative;
    background-color: #ffffff;
    height: 70px;
    width: 100px;
    border-radius: 50%;
}

.cloud1 {
    display: flex;
    align-self: flex-end;
    width: 250px;
    flex-wrap: wrap;
}

.cloud2 {
    display: flex;
    align-self: flex-start;
    width: 250px;
    flex-wrap: wrap;
}

.circul1 {
    left: 20px;
}

.circul2 {
    top: 20px;
}

.circul3 {
    bottom: 20px;
}

.circul4 {
    right: 20px;
    bottom: 15px;
}


/*RAINBOW*/
.rainbow1 {
    position: absolute;
    left: -40%;
    bottom: -50%;
    z-index: 3;
}

.rainbow__line {
    border-radius: 50%;
    height: 600px;
    width: 1100px;
}

.red {
    border: solid 5px red;
}

.orange {
    border: solid 5px orange;
}

.yellow {
    border: solid 5px yellow;
}

.green {
    border: solid 5px greenyellow;
}

.azure {
    border: solid 5px rgb(92, 226, 226);
}

.blue {
    border: solid 5px blue;
}

.purple {
    border: solid 5px purple;
}

/*SUN*/
.sun {
    position: absolute;
    right: -100px;
    top: -100px;
    height: 200px;
    width: 200px;
    background-color: yellow;
    border-radius: 50%;
}

/*EARTH*/
.earth {
    display: flex;
    position: relative;
    margin-top: -130px;
    margin-bottom: -20px;
    z-index: 2;
    justify-content: center;
}

.ground {
    margin: 0 auto;
    position: relative;
    background-color: #0ea741;
    height: 150px;
    width: 80%;
    border-radius: 500px/150px 150px 25px 25px;
    z-index: 2;
}

.bilding {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 3;
    bottom: 60%;
}

.roof {
    position: relative;
}

.pipe {
    position: relative;
    margin-bottom: -80px;
    left: 15px;
    background-color: #944800;
    height: 70px;
    width: 20px;
}

.triangle {
    position: relative;
    width: 0;
	height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 100px solid #944800;
}

.circle-window {
    position: absolute;
    top: 40px;
    left: 60px;
    height: 30px;
    width: 30px;
    background-color: #e2f7ff;
    border-radius: 50%;
    border: solid grey 2px;
}

.box {
    position: relative;
    align-items: flex-end;
    display: flex;
    height: 150px;
    width: 150px;
    background-color: #eef79e;
}

.door {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100px;
    width: 50px;
    background-color: grey;
    margin-left: 10px;
    border: rgb(94, 94, 94) solid 2px;
}

.doorhandle {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #f0e9e5;
    margin-right: 5px;
}

.window {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    width: 60px;
    height: 60px;
    background-color: #bfe2f0;
    margin-left: 15px;
    border: solid grey 2px;
}

.rectangle {
    width: 28px;
    height: 57px;
    border: solid gray 1px;
}

.square {
    width: 28px;
    height: 29px;
    border: solid gray 1px;
}


/* FENCE */
.fence {
    position: absolute;
    bottom: 50%;
    left: 55%;
    display: flex;
    z-index: 10;
}

.board {
    height: 100%;
    margin: 0px 3px;
}

.board__up {
    width: 0%;
    height: 0%;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 20px solid blue;
}

.board__down {
    height: 50px;
    width: 14px;
    background-color: blue;
}

/* TREE */
.tree {
    position: absolute;
    bottom: 70%;
    left: 60%;
    z-index: 8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50px;
}

.branch {
    width: 0%;
    height: 0%;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 50px solid rgb(7, 189, 68);
    margin-bottom: -15px;
    z-index: 8;
}

.trunk {
    width: 15px;
    height: 50px;
    z-index: 7;
    background-color: #5e3d1d
}

/*WATER*/
.water {
    position: relative;
    background-color: #5656b3;
    height: 100px;
    z-index: 1;
}